<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>LEDS Controller</title>
    </head>

    <body>
      <h1>LEDS Controller</h1>

      <a href="/start"><h2>Start</h2></a>
      <a href="/stop"><h2>Stop</h2></a>
      <a href="/restart"><h2>Restart</h2></a>

      <br>

      <a href="/setTheaterChaseRainbow"><h2>Theater Chase Rainbow</h2></a>
      <a href="/setRainbow"><h2>Rainbow</h2></a>
      <a href="/setRainbowCycle"><h2>Rainbow Cycle</h2></a>
      <a href="/setAll"><h2>All</h2></a>
      <a href="/setFixedColor?r=0&g=0&b=0"><h2>Eteindre tout</h2></a>

    </body>
</html>
